<h1>Thrift Shop API Documentation</h1>
<p>
  <!-- NAVIGATION -->
  <div>
    <% for @file in @files -%>
      <span onclick=<%= "openFile(#{@file.name})" %> ><%= @file.name %></span>
    <% end -%>
  </div>

  <!-- FILES -->
  <% for @file in @files -%>
    <div class="file" id="<%= @file.name %>">
      <h1 class="file-name"><%= @file.name %>.thrift</h1>

      <!-- SERVICES -->
      <% for @service in @file.services -%>
        <div>
          <h2 class="service-name"><%= @service.name %></h2>
          <span class="comment"><%= @service.comment %></span>

          <!-- FUNCTIONS -->
          <% for @f in @service.functions -%>
            <div>
              <p>
                <p class="comment"><%= @f.comment %></p>
                <!-- RETURN TYPE -->
                <% if @f.return_type %>
                  <span class="type-link"><%= link_to @f.return_type.to_s, "##{@f.return_type.to_s}"%></span>
                <% else %>
                  <span class="base-type"><%= @f.return_type_id %></span>
                <% end %>

                <!-- FUNCTION NAME -->
                <span class="function-name"><%= @f.name %></span> ( <br>

                <!-- FUNCTION ARGUMENTS -->
                <div style="padding-left: 25px;">
                  <% for @arg in @f.arguments -%>
                    <span><%= @arg.key %>:</span>

                    <% if @arg.type %>
                      <span class="type-link"><%= link_to @arg.type.to_s, "##{@arg.type.to_s}" %></span>
                    <% else %>
                      <span class="base-type"><%= @arg.type_id %></span>
                    <% end %>

                    <span><strong><%= @arg.name %></strong>,</span>
                    <span class="comment"><%= @arg.comment %></span>
                    <br>
                  <% end -%>
                </div>
                <br>
                )
              </p>
            </div>
          <% end -%>
        </div>
      <% end -%>

      <!-- ENUMS -->
      <h2>Enums</h2>
      <% for @enum in @file.enums -%>
        <div>
          <p><%= @enum.name %></p>
          <p><i><%= @enum.comment %></i></p>
          <div style="padding-left: 25px">
            <% for @member in @enum.members -%>
              <span><strong><%= @member.name %></strong></span>
              =
              <span><%= @member.value %></span>
              <span><i><%= @member.comment %></i></span>
              <br>
            <% end -%>
          </div>
        </div>
      <% end -%>

      <!-- TYPEDEFS -->
      <h2>Typedefs</h2>
      <% for @typedef in @file.typedefs -%>
        <div>
          <span><%= @typedef.name %></span>
          <span>(<i><%= @typedef.type_id %></i>)</span>
          <span><i><%= @typedef.comment %></i></span>
        </div>
      <% end -%>

      <!-- STRUCTS -->
      <h2>Structs</h2>
      <% for @struct in @file.structs -%>
        <div>
          <a id="<%= @struct.name %>"></a>
          <p><%= @struct.name %></p>
          <span><i><%= @struct.comment %></i></span>
          <div style="padding-left: 25px;">
            <% for @field in @struct.fields -%>
              <span><%= @field.key %>:</span>

              <% if @field.type %>
                <%= link_to @field.type.to_s, "##{@field.type.to_s}" %>
              <% else %>
                <span><i><%= @field.type_id %></i></span>
              <% end %>

              <span><strong><%= @field.name %></strong>,</span>
              <span><i><%= @field.comment %></i></span>
              <br>
            <% end -%>
          </div>
        </div>
      <% end -%>
    </div>
  <% end -%>
</p>
<!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/ru14DkRDm5g?autoplay=1"></iframe> -->
<script>
function openFile(file) {
    var i;
    var x = document.getElementsByClassName("file");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(file.id).style.display = "block";
}
</script>
